<div class="jumbotron">
  <h1>Slackbot for Telegram</h1>
  <p class="lead">
    A bot that can be taught to respond messages like you want.<br />
    Like Slackbot, but in Telegram Messenger
  </p>
  <br />
  <p>
    <a class="btn btn-lg btn-primary" href="https://telegram.me/SlackRobot" role="button">
      <i class='fa fa-paper-plane'></i>&nbsp;&nbsp;&nbsp;Talk to @SlackRobot now
    </a>
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Customizable</h4>
    <p>You can customize responses to predefined messages, so SlackRobot will response to the messages you want in the way you prefer.</p>
  </div>
  <div class="col-lg-6">
    <h4>Chat independent</h4>
    <p>SlackRobot have a different configuration for each chat, so you can easily customize the responses per-chat basis.</p>
  </div>
  <div class="col-lg-6">
    <h4>Secure</h4>
    <p>SlackRobot needs to access your messages to respond them.</p><p>But it's an <a href='https://github.com/odarriba/slackbot_telegram' target='_blank'>open source project</a>, so you can see the code and check that we aren't storing your messages and data.</p>
  </div>
  <div class="col-lg-6">
    <h4>Web interface</h4>
    <p>Configuration is made via a secret URL that allows to change the bot's configuration in each chat.</p>
  </div>
</div>
